.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Deck h1 {
  font-size: 32px;
  text-align: center;
}

.cards {
  display: grid;
  width: 750px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.cards li {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 130px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px;
  padding-top: 30px;;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px
}

.cards li button:hover {
  background-color: #6b7bc5;
}

.cards li:hover {
  background: #eee;
}